* {
    font-family: 'Anek Tamil', sans-serif;
}

#mainForm {
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#formHolder {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#explanationHolder {
    background-color: rgba(181, 213, 214, 0.57);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#photoDescriptionIntro {
    justify-content: center;
    color: white;
    text-align: center;
}

.form-control {
    opacity: 100%;
}

#weather-box {
    background-color: rgba(181, 213, 214, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 3px solid rgb(237, 240, 237);
    padding: 100px;
    font-size:xx-large;
    font-weight:bolder;
    opacity: 75%;
    text-align: center;
    align-items: center;
    flex-direction: center;
    margin-left: auto;
    margin-right: auto;

}
#weather-box button {
    font-weight: bold;
    background-color: rgb(34, 87, 144);
    margin: 20px;
    opacity: 100%;
    padding: 3px;
}

#weather-box button:hover {
    background-color: blueviolet;
    opacity: 100%;
}

.zipCode {
    background-color: rgba(181, 213, 214, 255);
    border-radius: 5px;
    width: 60%;
    border: 3px solid rgb(237, 240, 237);
    padding: 20px;
    font-size:large;
    opacity: 75%;
}

.card-body {
    background-color: rgba(181, 213, 214, 255);
    border-radius: 5px;
    width: 100%;
    border: 3px solid rgb(237, 240, 237);
    padding: 20px;
    font-size:large;
    opacity: 75%;
    height: 100%;
    
}

#forecastContainer {
    text-align: center;
    padding-top: 30px;
}

.icon {
    margin: auto;
}

.histBtn {
    font-weight: bold;
    background-color:  rgb(34, 87, 144);
    padding: 5px;
    margin: 10px;
}

.histBtn:hover {
    background-color: blueviolet;
    opacity: 100%;
}




